<h1>Editing marca</h1>

<% form_for(@marca) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @marca %> |
<%= link_to 'Back', marcas_path %>