<h1>Listing marcas</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @marcas.each do |marca| %>
  <tr>
    <td><%=h marca.descripcion %></td>
    <td><%= link_to 'Show', marca %></td>
    <td><%= link_to 'Edit', edit_marca_path(marca) %></td>
    <td><%= link_to 'Destroy', marca, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New marca', new_marca_path %>