<h1>Lista de areas</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%=h area.descripcion %></td>
    <td><%= link_to 'Mostrar', area %></td>
    <td><%= link_to 'Editar', edit_area_path(area) %></td>
    <td><%= link_to 'Eliminar', area, :confirm => 'Esta usted Seguro/a?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Area Nueva', new_area_path %>
