<h1>Editing inventario</h1>

<% form_for(@inventario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :area_id %><br />
    <%= f.text_field :area_id %>
  </p>
  <p>
    <%= f.label :codigo_old %><br />
    <%= f.text_field :codigo_old %>
  </p>
  <p>
    <%= f.label :codigo_new %><br />
    <%= f.text_field :codigo_new %>
  </p>
  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :marca_id %><br />
    <%= f.text_field :marca_id %>
  </p>
  <p>
    <%= f.label :color_id %><br />
    <%= f.text_field :color_id %>
  </p>
  <p>
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </p>
  <p>
    <%= f.label :serie %><br />
    <%= f.text_field :serie %>
  </p>
  <p>
    <%= f.label :estado_id %><br />
    <%= f.text_field :estado_id %>
  </p>
  <p>
    <%= f.label :fecha_adq %><br />
    <%= f.date_select :fecha_adq %>
  </p>
  <p>
    <%= f.label :costo %><br />
    <%= f.text_field :costo %>
  </p>
  <p>
    <%= f.label :fecha_valoracion %><br />
    <%= f.date_select :fecha_valoracion %>
  </p>
  <p>
    <%= f.label :valoracion_inicial %><br />
    <%= f.text_field :valoracion_inicial %>
  </p>
  <p>
    <%= f.label :valoracion_actual %><br />
    <%= f.text_field :valoracion_actual %>
  </p>
  <p>
    <%= f.label :observaciones %><br />
    <%= f.text_field :observaciones %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @inventario %> |
<%= link_to 'Back', inventarios_path %>