<p>
  <b>Area:</b>
  <%=h @inventario.area.descripcion %>
</p>

<p>
  <b>Codigo old:</b>
  <%=h @inventario.codigo_old %>
</p>

<p>
  <b>Codigo new:</b>
  <%=h @inventario.codigo_new %>
</p>

<p>
  <b>Item:</b>
  <%=h @inventario.item_id %>
</p>

<p>
  <b>Marca:</b>
  <%=h @inventario.marca_id %>
</p>

<p>
  <b>Color:</b>
  <%=h @inventario.color_id %>
</p>

<p>
  <b>Modelo:</b>
  <%=h @inventario.modelo %>
</p>

<p>
  <b>Serie:</b>
  <%=h @inventario.serie %>
</p>

<p>
  <b>Estado:</b>
  <%=h @inventario.estado_id %>
</p>

<p>
  <b>Fecha adq:</b>
  <%=h @inventario.fecha_adq %>
</p>

<p>
  <b>Costo:</b>
  <%=h @inventario.costo %>
</p>

<p>
  <b>Fecha valoracion:</b>
  <%=h @inventario.fecha_valoracion %>
</p>

<p>
  <b>Valoracion inicial:</b>
  <%=h @inventario.valoracion_inicial %>
</p>

<p>
  <b>Valoracion actual:</b>
  <%=h @inventario.valoracion_actual %>
</p>

<p>
  <b>Observaciones:</b>
  <%=h @inventario.observaciones %>
</p>


<%= link_to 'Edit', edit_inventario_path(@inventario) %> |
<%= link_to 'Back', inventarios_path %>